# PostgreSQL Configuration (Required)
DB_USERNAME=
DB_PASSWORD=

# JWT Secret (Base64 encoded) (Required)
JWT_SECRET=

# KIS Key
KIS_BASE_URL=
KIS_KEY=
KIS_SECRET=
KIS_WS_URL=ws://ops.koreainvestment.com:21000

# Redis Configuration (Optional, defaults to localhost:6379)
REDIS_HOST=
REDIS_PORT=

# Kafka Configuration (Optional, defaults to localhost:9092)
KAFKA_BOOTSTRAP_SERVERS=

# OAuth2 Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth2 Kakao
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# OAuth2 Naver
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=