# PostgreSQL Configuration (Required)
DB_USERNAME=marklong
DB_PASSWORD=marklong1234

# JWT Secret (Base64 encoded) (Required)
JWT_SECRET=SldUU2lnbmluZ0tleUZvclNlY3VyZUF1dGhlbnRpY2F0aW9uSW5TcHJpbmdCb290QXBwbGljYXRpb25XaXRoSFMyNTZBbGdvcml0aG0=

# Redis Configuration (Optional, defaults to localhost:6379)
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka Configuration (Optional, defaults to localhost:9092)
KAFKA_BOOTSTRAP_SERVERS=localhost:9092